body {
    background-color: White;
}
.content{max-width: 70em; 
	margin-left: auto; 
	margin-right: auto;
	padding:1em;
}
.links >ul,li{display: inline-block; padding: 0em .5em;}
.links{text-align: right;
margin-right: 17em;
font-size: .8em;
vertical-align: center;
}